/** placeholder for css-hacks */

.v-table-header table, .v-table-table {
    white-space: normal !important;
    overflow: hidden !important;
}

div.wrapped-caption {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    white-space: normal;
}

.indent-layout { padding-left: 3.5em !important; }

.v-radiobutton {
    padding-right: 1em;
}

.v-caption-required-indicator-on-left {
    visibility: hidden;
}

.v-caption-required-indicator-on-left {
    display: none !important;
}

.aui input[disabled], .aui select[disabled], .aui textarea[disabled], .aui input[readonly], .aui select[readonly], .aui textarea[readonly] {
    background-color: #f6f6f6;
    opacity: 1 !important;
    color: #474747 !important;;
}